<div class="posts">
  <header>
    <div class="name-container">
      <%= link_to gravatar_for(post.user, size: 50), post.user %>
      <h3 class="post-user-name"><%=link_to post.user.name, user_path(post.user)%></h3>
      <time class="post-time" datetime="<%=post.created_at%>"> <%= time_ago_in_words(post.created_at) %>
        ago.
      </time>
    </div>
  </header>
  <p class="post-content"><%= post.content %></p>
  <%= image_tag post.display_image if post.image.attached? %>
  <% if current_user?(post.user) %>
    <%= link_to "delete", post, method: :delete,
                data: { confirm: "You sure?" } %>
  <% end %>
</div>
