<div class="posts">
  <header>
    <div class="name-container">
      <%# debugger %>
      <%= link_to gravatar_for(post.user, size: 50), post.user %>
      <h3 class="post-user-name"><%=link_to post.user.name, user_path(post.user)%></h3>
      <time class="post-time" datetime="<%=post.created_at%>"> <%= time_ago_in_words(post.created_at) %>
        ago.
      </time>
    </div>
    <% if current_user?(post.user) %>
      <div class="dropdown">
        <button class="dropbtn">
          <i class="fas fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-content">
          <%= link_to 'Edit', edit_post_path(post.id) %>
          <%= link_to 'Delete', post_path(post.id), method: :delete %>
        </div>
      </div>
    <% end %>
  </header>
  <p class="post-content"><%= post.content %></p>
  <%= image_tag post.display_image if post.image.attached? %>
  <%# debugger %>
  <%= render partial: 'likes/button', locals: { likeable: post } %>
  <%#debugger %>
  <% if post.comments.any? %>
    <%#= render partial: 'comments/comment', locals: {comment: post.comments} %>
    <%= render post.comments %>
<% end %>
  <%= render 'comments/new_comment', post: post %>
</div>
