<header class="navbar navbar-fixed-top fb-color">
  <div class="container">
    <%= link_to "facebook", root_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul class="nav navbar-nav navbar-right collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <% if user_signed_in? %>
          <% pending_friends = current_user.pending_friends_list %>

          <li><%= link_to "Home", root_path %></li>
          <li>
            <%= link_to users_path do %>
              <i class="fa-solid fa-users"></i>
            <% end %>
          </li>

          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa-solid fa-bell"></i> <b class="caret"></b>
                <% if pending_friends.any? %>
                  <span class="badge"><%= pending_friends.count %></span>
                  <%= render 'layouts/pending_friends_list_page' %>
                <% end %>
              </a>
          </li>

          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>

        <%else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
        <%end %>
      </ul>
    </nav>
  </div>
</header>
